.theoremContainer {
  margin: 1rem 0;
  border-left-width: 1px;
  border-left-style: solid;
}

.theoremTitle {
  padding: 0 0.7rem;
  font-size: 1.3rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.theoremContent {
  padding: 0.7rem;
}

.proofContainer {
  margin: 1rem 0;
}

.proofEndMark {
  float: right;
}

@media (max-width: 750px) {
  .theoremContent {
    overflow-x: scroll;
    white-space: normal;
  }

  .proofContent {
    overflow-x: scroll;
    white-space: normal;
  }
}
